# Ignore SQLite database file

# Ignore sensitive environment variables file
.env

# Ignore Python virtual environment directory
venv/

# Ignore IDE or editor-specific files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore compiled assets
dist/
build/

__pycache__/